* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  ::selection{
    color: white;
    background:black;
  }
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;

}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

ul,li{
  list-style-type: none;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(30, 32, 42);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #77002e;
  border-radius: 4px;
}